/* React-PDF Styles */
.react-pdf__Page {
  margin: 0 auto;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  height: auto !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.react-pdf__Page__textContent {
  border: 1px solid transparent;
}

.react-pdf__Page__annotations {
  border: 1px solid transparent;
}
